In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("RefineJKDataset.csv")
df.head()

,Sr.No.,Unnamed: 1,Sample No.,pH,EC,OC,N,P,K,S,Zn,Fe,Cu,Mn,B
0,1,NaN,JK5431/2017-18/77512786,7.90 MAl,0.13 N,0.54 M,375.30 M,19.52 L,267.31 M,9.65 D,0.68 S,7.18 S,0.28 S,2.36 S,NaN
1,2,NaN,JK5431/2017-18/77518496,7.60 MAl,0.13 N,0.48 L,333.60 M,24.77 M,297.26 M,7.00 D,0.66 S,8.22 S,0.36 S,2.40 S,NaN
2,3,NaN,JK5431/2017-18/77529989,7.50 MAl,0.14 N,0.40 L,278.00 L,24.02 M,276.30 M,10.25 S,0.64 S,8.24 S,0.34 S,2.42 S,NaN
3,4,NaN,JK5431/2017-18/77531772,7.30 MAl,0.15 N,0.50 L,347.50 M,17.26 L,223.60 M,6.75 D,0.66 S,7.36 S,0.26 S,2.56 S,NaN
4,5,NaN,JK5431/2017-18/77536345,6.90 SlAc,0.15 N,0.44 L,305.80 M,16.51 L,269.10 M,8.23 D,0.68 S,7.28 S,0.30 S,2.60 S,NaN

In [5]:
df.drop(['Sr.No.', 'Sample No.'], axis=1, inplace=True)

In [7]:
df.drop(['Unnamed: 1'], axis=1, inplace=True)
df.head()

,pH,EC,OC,N,P,K,S,Zn,Fe,Cu,Mn,B
0,7.90 MAl,0.13 N,0.54 M,375.30 M,19.52 L,267.31 M,9.65 D,0.68 S,7.18 S,0.28 S,2.36 S,NaN
1,7.60 MAl,0.13 N,0.48 L,333.60 M,24.77 M,297.26 M,7.00 D,0.66 S,8.22 S,0.36 S,2.40 S,NaN
2,7.50 MAl,0.14 N,0.40 L,278.00 L,24.02 M,276.30 M,10.25 S,0.64 S,8.24 S,0.34 S,2.42 S,NaN
3,7.30 MAl,0.15 N,0.50 L,347.50 M,17.26 L,223.60 M,6.75 D,0.66 S,7.36 S,0.26 S,2.56 S,NaN
4,6.90 SlAc,0.15 N,0.44 L,305.80 M,16.51 L,269.10 M,8.23 D,0.68 S,7.28 S,0.30 S,2.60 S,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15150 entries, 0 to 15149
Data columns (total 12 columns):
pH    15149 non-null object
EC    15143 non-null object
OC    15147 non-null object
N     15143 non-null object
P     15147 non-null object
K     15147 non-null object
S     15146 non-null object
Zn    15138 non-null object
Fe    15141 non-null object
Cu    15138 non-null object
Mn    15112 non-null object
B     20 non-null object
dtypes: object(12)
memory usage: 1.4+ MB

In [9]:
df.drop(['B'], axis=1, inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15150 entries, 0 to 15149
Data columns (total 11 columns):
pH    15149 non-null object
EC    15143 non-null object
OC    15147 non-null object
N     15143 non-null object
P     15147 non-null object
K     15147 non-null object
S     15146 non-null object
Zn    15138 non-null object
Fe    15141 non-null object
Cu    15138 non-null object
Mn    15112 non-null object
dtypes: object(11)
memory usage: 1.3+ MB

In [25]:
df1 = pd.read_csv('JK_Dataset.csv')

In [26]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15150 entries, 0 to 15149
Data columns (total 12 columns):
Unnamed: 0    15150 non-null int64
pH            15149 non-null float64
EC            15143 non-null float64
OC            15147 non-null float64
N             15143 non-null float64
P             15147 non-null float64
K             15147 non-null float64
S             15146 non-null float64
Zn            15138 non-null float64
Fe            15141 non-null float64
Cu            15138 non-null float64
Mn            15112 non-null float64
dtypes: float64(11), int64(1)
memory usage: 1.4 MB

In [27]:
df1.drop(['Unnamed: 0'], axis=1, inplace=True)
df1.head()

    pH    EC    OC      N      P       K      S    Zn    Fe    Cu    Mn
0  7.9  0.13  0.54  375.3  19.52  267.31   9.65  0.68  7.18  0.28  2.36
1  7.6  0.13  0.48  333.6  24.77  297.26   7.00  0.66  8.22  0.36  2.40
2  7.5  0.14  0.40  278.0  24.02  276.30  10.25  0.64  8.24  0.34  2.42
3  7.3  0.15  0.50  347.5  17.26  223.60   6.75  0.66  7.36  0.26  2.56
4  6.9  0.15  0.44  305.8  16.51  269.10   8.23  0.68  7.28  0.30  2.60

In [28]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15150 entries, 0 to 15149
Data columns (total 11 columns):
pH    15149 non-null float64
EC    15143 non-null float64
OC    15147 non-null float64
N     15143 non-null float64
P     15147 non-null float64
K     15147 non-null float64
S     15146 non-null float64
Zn    15138 non-null float64
Fe    15141 non-null float64
Cu    15138 non-null float64
Mn    15112 non-null float64
dtypes: float64(11)
memory usage: 1.3 MB

In [29]:
df1['pH'].mean()

7.175457125882897

In [31]:
df1['pH'].fillna( '7.17', inplace = True)

In [32]:
df1['EC'].mean()

0.3632866671069141

In [33]:
df1['EC'].fillna( '0.36', inplace = True)

In [34]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15150 entries, 0 to 15149
Data columns (total 11 columns):
pH    15150 non-null object
EC    15150 non-null object
OC    15147 non-null float64
N     15143 non-null float64
P     15147 non-null float64
K     15147 non-null float64
S     15146 non-null float64
Zn    15138 non-null float64
Fe    15141 non-null float64
Cu    15138 non-null float64
Mn    15112 non-null float64
dtypes: float64(9), object(2)
memory usage: 1.3+ MB

In [35]:
df1['OC'].mean()

0.5332039347725622

In [36]:
df1['OC'].fillna( '0.53', inplace = True)

In [37]:
df1['N'].mean()

359.0040500561316

In [38]:
df1['N'].fillna( '359.0', inplace = True)

In [39]:
df1['P'].mean()

16.684280055456526

In [40]:
df1['P'].fillna( '16.68', inplace = True)

In [41]:
df1['K'].mean()

205.2341843269294

In [42]:
df1['K'].fillna( '205.234', inplace = True)

In [43]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15150 entries, 0 to 15149
Data columns (total 11 columns):
pH    15150 non-null object
EC    15150 non-null object
OC    15150 non-null object
N     15150 non-null object
P     15150 non-null object
K     15150 non-null object
S     15146 non-null float64
Zn    15138 non-null float64
Fe    15141 non-null float64
Cu    15138 non-null float64
Mn    15112 non-null float64
dtypes: float64(5), object(6)
memory usage: 1.3+ MB

In [44]:
df1['S'].mean()

15.442628416743695

In [45]:
df1['S'].fillna( '15.44', inplace = True)

In [46]:
df1['Zn'].mean()

0.8234502576298057

In [47]:
df1['Zn'].fillna( '0.823', inplace = True)

In [48]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15150 entries, 0 to 15149
Data columns (total 11 columns):
pH    15150 non-null object
EC    15150 non-null object
OC    15150 non-null object
N     15150 non-null object
P     15150 non-null object
K     15150 non-null object
S     15150 non-null object
Zn    15150 non-null object
Fe    15141 non-null float64
Cu    15138 non-null float64
Mn    15112 non-null float64
dtypes: float64(3), object(8)
memory usage: 1.3+ MB

In [49]:
df1['Fe'].mean()

7.275557757083416

In [50]:
df1['Fe'].fillna( '7.275', inplace = True)

In [51]:
df1['Cu'].mean()

0.41004756242568374

In [52]:
df1['Cu'].fillna( '4.10', inplace = True)

In [53]:
df1['Mn'].mean()

2.2479466649020647

In [54]:
df1['Mn'].fillna( '2.248', inplace = True)

In [55]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15150 entries, 0 to 15149
Data columns (total 11 columns):
pH    15150 non-null object
EC    15150 non-null object
OC    15150 non-null object
N     15150 non-null object
P     15150 non-null object
K     15150 non-null object
S     15150 non-null object
Zn    15150 non-null object
Fe    15150 non-null object
Cu    15150 non-null object
Mn    15150 non-null object
dtypes: object(11)
memory usage: 1.3+ MB

In [56]:
df1.to_csv('JK_F_Data.csv')